[Unit]
Description=Run osbuild_off ansible playbook daily at night
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="ANSIBLE_CONFIG=/home/luca/Scripts/ansible.cfg"
ExecStart=/usr/bin/ansible-playbook -i /home/luca/Scripts/inventory.ini /home/luca/Scripts/osbuild_off.yaml 
RemainAfterExit=false
StandardOutput=journal
StandardError=journal
