[Unit]
Description=Run osbuild_off ansible playbook daily at night

[Timer]
OnCalendar=Mon..Fri 18:30:00 Europe/Paris
Unit=osbuild_off.service

[Install]
WantedBy=timers.target
