[Unit]
Description=Run sno_off ansible playbook daily at night

[Timer]
OnCalendar=Mon..Thu 18:30:00 Europe/Paris
OnCalendar=Fri..Sun 13:30:00 Europe/Paris
Unit=sno_off.service

[Install]
WantedBy=timers.target
