[Unit]
Description=Run sno_on ansible playbook daily in the morning

[Timer]
OnCalendar=Mon..Fri 8:00:00 Europe/Paris
OnCalendar=Sat,Sun 11:30:00 Europe/Paris
Unit=sno_on.service

[Install]
WantedBy=timers.target
