[Unit]
Description=Run super_on ansible playbook daily in the morning
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -i /home/luca/Scripts/inventory.ini /home/luca/Scripts/super_on.yaml 
RemainAfterExit=false
